mercury/src/main/webapp/xsd/LimsQueryTypes.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType  name="sequencingTemplateType">
        <xsd:annotation>
            <xsd:documentation>This structure defines run setup data for integrating mercury with the unified loader app.
                It is roughly equivalent to a designation, in Squid.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="barcode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pairedRun" nillable="true" type="xsd:boolean"/>
            <xsd:element name="onRigWorkflow" type="xsd:string"/>
            <xsd:element name="onRigChemistry" type="xsd:string"/>
            <xsd:element name="concentration" type="xsd:decimal" />
            <xsd:element name="products" type="productType" maxOccurs="unbounded"/>
            <xsd:element name="regulatoryDesignation" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="readStructure" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A read structure string is a textual encoding of templates, barcodes, or skips.
                        For example:
                        <br/>
                        a 76-base paired-end read with one molecular barcode index will look like this "76T8B76T"
                        <br/>
                        a 101-base paired-end read with dual indices will look like this: "101T8B8B101T"
                        <br/>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lanes" type="sequencingTemplateLaneType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="productType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sequencingTemplateLaneType">
        <xsd:sequence>
            <xsd:element name="laneName" type="xsd:string"/>
            <xsd:element name="loadingConcentration" nillable="true" type="xsd:decimal"/>
            <xsd:element name="loadingVesselLabel" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        The Barcode/label of the tube that should be used to load the lane. Note that for ExEx,
                        MiSeq and 2500, this is the same tube.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="derivedVesselLabel" type="xsd:string" />
            <xsd:element name="readStructure" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A read structure string is a textual encoding of templates, barcodes, UMIs, or skips.
                        For example:
                        <br/>
                        a 76-base paired-end read with one molecular barcode index will look like this "76T8B76T"
                        <br/>
                        a 101-base paired-end read with dual indices will look like this: "101T8B8B101T"
                        <br/>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="flowcellDesignationType">
        <xsd:sequence>
            <xsd:element name="lanes" type="laneType" maxOccurs="unbounded"/>
            <xsd:element name="designationName" type="xsd:string"/>
            <xsd:element name="readLength" type="xsd:int"/>
            <xsd:element name="pairedEndRun" type="xsd:boolean"/>
            <xsd:element name="indexedRun" type="xsd:boolean"/>
            <xsd:element name="controlLane" type="xsd:int"/>
            <xsd:element name="keepIntensityFiles" type="xsd:boolean"/>
            <xsd:element name="indexingReadConfiguration" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="laneType">
        <xsd:sequence>
            <xsd:element name="laneName" type="xsd:string"/>
            <xsd:element name="libraryData" type="libraryDataType" maxOccurs="unbounded"/>
            <xsd:element name="loadingConcentration" type="xsd:decimal"/>
            <xsd:element name="derivedLibraryData" type="libraryDataType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="libraryDataType">
        <xsd:sequence>
            <xsd:element name="wasFound" type="xsd:boolean"/>
            <xsd:element name="libraryName" type="xsd:string"/>
            <xsd:element name="libraryType" type="xsd:string"/>
            <xsd:element name="tubeBarcode" type="xsd:string"/>
            <xsd:element name="sampleDetails" type="sampleInfoType" maxOccurs="unbounded"/>
            <xsd:element name="dateCreated" type="xsd:dateTime"/>
            <xsd:element name="discarded" type="xsd:boolean"/>
            <xsd:element name="destroyed" type="xsd:boolean"/>
            <xsd:element name="regulatoryDesignation" type="xsd:string" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sampleInfoType">
        <xsd:sequence>
            <xsd:element name="sampleName" type="xsd:string"/>
            <xsd:element name="sampleType" type="xsd:string"/>
            <xsd:element name="indexLength" type="xsd:int"/>
            <xsd:element name="indexSequence" type="xsd:string"/>
            <xsd:element name="referenceSequence" type="xsd:string"/>
            <xsd:element name="lsid" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="wellAndSourceTubeType">
        <xsd:sequence>
            <xsd:element name="wellName" type="xsd:string"/>
            <xsd:element name="tubeBarcode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="plateTransferType">
        <xsd:sequence>
            <xsd:element name="sourceBarcode" type="xsd:string"/>
            <xsd:element name="sourceSection" type="xsd:string"/>
            <xsd:element name="sourcePositionMap" type="wellAndSourceTubeType" maxOccurs="unbounded"/>
            <xsd:element name="destinationBarcode" type="xsd:string"/>
            <xsd:element name="destinationSection" type="xsd:string"/>
            <xsd:element name="destinationPositionMap" type="wellAndSourceTubeType" maxOccurs="unbounded"/>
            <!-- TODO: metaDataMap -->
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="poolGroupType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="tubeBarcodes" type="xsd:string" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="laneReadStructure">
        <xsd:sequence>
            <xsd:element name="laneNumber" type="xsd:int"/>
            <xsd:element name="actualReadStructure" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="readStructureRequest">
        <xsd:sequence>
            <xsd:element name="runName" type="xsd:string" />
            <xsd:element name="runBarcode" type="xsd:string" />
            <xsd:element name="setupReadStructure" type="xsd:string" />
            <xsd:element name="actualReadStructure" type="xsd:string" />
            <xsd:element name="imagedArea" type="xsd:double" nillable="true"/>
            <!-- concatenated list of lanes that "really" contain data.  this is a bit
            of a hack from the days of running partial flowcells -->
            <xsd:element name="lanesSequenced" type="xsd:string" />
            <!-- if something goes wrong during the processing of this,
            here's a human readable error string -->
            <xsd:element name="error" type="xsd:string" />
            <xsd:element name="laneStructures" type="laneReadStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="concentrationAndVolumeAndWeightType">
        <xsd:sequence>
            <xsd:element name="wasFound" type="xsd:boolean"/>
            <xsd:element name="concentration" type="xsd:decimal"/>
            <xsd:element name="volume" type="xsd:decimal"/>
            <xsd:element name="weight" type="xsd:decimal"/>
            <xsd:element name="tubeBarcode" type="xsd:string"/>
            <xsd:element name="concentrationUnits" type="xsd:string"/>
            <xsd:element name="volumeUnits" type="xsd:string"/>
            <xsd:element name="weightUnits" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="worklowValidationErrorType">
        <xsd:sequence>
            <xsd:element name="hasErrors" type="xsd:boolean"/>
            <xsd:element name="validationErrors" type="validationErrorType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="validationErrorType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="actualEventTypes" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="expectedEventTypes" type="xsd:string" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="reagentDesignType">
        <xsd:sequence>
            <xsd:element name="wasFound" type="xsd:boolean"/>
            <xsd:element name="hasErrors" type="xsd:boolean"/>
            <xsd:element name="error" type="xsd:string"/>
            <xsd:element name="reagentDesignName" type="xsd:string"/>
            <xsd:element name="tubeBarcode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="productInfosType">
        <xsd:sequence>
            <xsd:element name="tubeBarcode" type="xsd:string"/>
            <xsd:element name="wasFound" type="xsd:boolean"/>
            <xsd:element name="hasErrors" type="xsd:boolean"/>
            <xsd:element name="error" type="xsd:string"/>
            <xsd:element name="productInfoType" type="productInfoType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="productInfoType">
        <xsd:sequence>
            <xsd:element name="productName" type="xsd:string"/>
            <xsd:element name="productFamily" type="xsd:string"/>
            <xsd:element name="partNumber" type="xsd:string"/>
            <xsd:element name="analysisTypeKey" type="xsd:string"/>
            <xsd:element name="reagentDesignKey" type="xsd:string"/>
            <xsd:element name="coverageKey" type="xsd:string"/>
            <xsd:element name="workflowName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
