mercury/src/main/webapp/xsd/SolexaRunSynopsis.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="SolexaRunSynopsisBean">
        <xsd:attribute name="runBarcode" type="xsd:string" use="required"/>
        <xsd:attribute name="actualReadStructure" type="xsd:string"/>
        <xsd:attribute name="setupReadStructure" type="xsd:string"/>
        <xsd:attribute name="imagedAreaPerLaneMM2" type="xsd:double"/>
        <xsd:attribute name="lanesSequenced" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>
