mercury/src/main/wsdl/squid/LibraryRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="urn:ExtLibraryRegistration"
        xmlns:libreg="urn:ExtLibraryRegistration"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema targetNamespace="urn:ExtLibraryRegistration">

            <xsd:simpleType name="IndexPosition">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ILLUMINA_P5" />
                    <xsd:enumeration value="ILLUMINA_P7" />
                    <xsd:enumeration value="ILLUMINA_IS1" />
                    <xsd:enumeration value="ILLUMINA_IS2" />
                    <xsd:enumeration value="ILLUMINA_IS3" />
                    <xsd:enumeration value="ILLUMINA_IS4" />
                    <xsd:enumeration value="ILLUMINA_IS5" />
                    <xsd:enumeration value="ILLUMINA_IS6" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="SequencingTechnology">
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="ILLUMINA" />
                <xsd:enumeration value="FOUR_FIVE_FOUR" />
                <xsd:enumeration value="ION_TORRENT" />
                <xsd:enumeration value="PACBIO" />
              </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="LibraryMolecularIndex">
                <xsd:annotation>
                    <xsd:documentation>
LibraryMolecularIndex is a JAXB POJO intended to encapsulate the possible settings for a
new/existing molecular indexing scheme.

This POJO will primarily be utilized on Library registration to indicate the Molecular Index(es) associated with a
sample in a library that will be registered in the Squid System
                    </xsd:documentation>
                </xsd:annotation>

                <xsd:sequence>
                    <xsd:element name="molecularBarcode" type="xsd:string"/>
                    <xsd:element name="positionHint" type="libreg:IndexPosition"/>

                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="LibraryMolecularIndexList">
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="molecularIndex" type="libreg:LibraryMolecularIndex"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="RegistrationSample">
                <xsd:annotation>
                    <xsd:documentation>
Sample is a JAXB annotated POJO intended to be used for the registration in the Squid
System of libraries that have an external origin.  The initial usage of this class is with the
 exome express project project in which Libraries
will have a creation origin in the SequeL system only to be eventually registered in Squid.
                    </xsd:documentation>
                </xsd:annotation>

                <xsd:sequence>
                    <xsd:element type="libreg:SequencingTechnology" name="technology"/>
                    <xsd:element name="bspContextReference" type="xsd:string"/>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="molecularIndexes" type="libreg:LibraryMolecularIndex"/>
                    </xsd:sequence>

                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="RegistrationSampleList">
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element type="libreg:RegistrationSample" name="sample" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SequencingPlanDetails">
                <xsd:annotation>
                    <xsd:documentation>
SequencingPlanDetails defines the necessary information for building a plan to sequence a library.  These details will,
in the Squid world, provide the system with enough information
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="numberOfLanes" type="xsd:int" />
                    <xsd:element name="readLength" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SequelLibrary">
                <xsd:annotation>
                    <xsd:documentation>
SequelLibrary defines the data required when an External Library is being registered into the Squid
System.  The initial implementation of this class is utilized by the JAX-RS services exposed to support the Exome
Express project developed in the SequeL System {LIX-116)}.

                    </xsd:documentation>
                </xsd:annotation>

                <xsd:sequence>
                    <xsd:element name="libraryName" type="xsd:string"/>
                    <xsd:element name="receptacleBarcode" type="xsd:string" />
                    <xsd:element name="singleStrandInd" type="xsd:boolean" />
                    <xsd:element name="planDetails" type="libreg:SequencingPlanDetails" />
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element type="libreg:RegistrationSample" name="samples" />
                    </xsd:sequence>

                </xsd:sequence>

            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="RequestRegisterSequeLLibrary">
        <wsdl:part name="registrationContextIn" type="libreg:SequelLibrary" />
    </wsdl:message>
    <wsdl:message name="ResponseRegisterSequeLLibrary" />

    <wsdl:message name="RequestRegisterForDesignation">
        <wsdl:part name="libraryName" type="xsd:string" />
        <wsdl:part name="lanes" type="xsd:int" />
        <wsdl:part name="readLength" type="xsd:int" />
        <wsdl:part name="needsControlLane" type="xsd:boolean" />
    </wsdl:message>
    <wsdl:message name="ResponseRegisterForDesignation" />

    <wsdl:portType name="LibraryRegistrationPortType">
        <wsdl:operation name="registerSequeLLibrary">
            <wsdl:input message="libreg:RequestRegisterSequeLLibrary" name="registerSequeLLibraryRequest" />
            <wsdl:output message="libreg:ResponseRegisterSequeLLibrary" name="registerSequeLLibraryResponse" />
        </wsdl:operation>
        <wsdl:operation name="registerForDesignation">
            <wsdl:input message="libreg:RequestRegisterForDesignation" name="registerForDesignationRequest" />
            <wsdl:output message="libreg:ResponseRegisterForDesignation" name="registerForDesignationResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ExtLibraryRegistrationImpl" type="libreg:LibraryRegistrationPortType">
        
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="registerSequeLLibrary">
            <wsdl:input name="registerSequeLLibraryRequest" >
                <wsdlsoap:body namespace="urn:ExtLibraryRegistration" use="literal" />
            </wsdl:input>
            <wsdl:output name="registerSequeLLibraryResponse" >
                <wsdlsoap:body namespace="urn:ExtLibraryRegistration" use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="registerForDesignation">
            <wsdl:input name="registerForDesignationRequest">
                <wsdlsoap:body namespace="urn:ExtLibraryRegistration" use="literal" />
            </wsdl:input>
            <wsdl:output name="registerForDesignationResponse">
                <wsdlsoap:body namespace="urn:ExtLibraryRegistration" use="literal" />
            </wsdl:output>
        </wsdl:operation>


    </wsdl:binding>

    <wsdl:service name="ExtLibraryRegistrationService">
        <wsdl:port name="ExtLibraryRegistrationService" binding="libreg:ExtLibraryRegistrationImpl">
            <wsdlsoap:address location="@tomcat.url@/services/ExtLibraryRegistrationService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
